<mat-card>
  <mat-icon svgIcon="add-comment" aria-hidden="false" [routerLink]="['/comment-add', patientId]"></mat-icon>
  <mat-icon></mat-icon>
  <mat-icon svgIcon="cancel" aria-hidden="false" [routerLink]="['/patient-details', patientId]"></mat-icon>
  <mat-card-content>
    <mat-list>
      <mat-list-item class="mat-list-item-comment" *ngFor="let comment of comments | commentFilter: patientId">
        <mat-icon svgIcon="mode-comment" aria-hidden="false" [routerLink]="['/comment-details', comment.id]"></mat-icon>
        <a [routerLink]="['/comment-details', comment.id]"><span style="font-weight: bold">{{ comment.date }}:</span> {{ comment.comment }}</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
